.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  max-width: 18%;
  margin: 12%;
  padding: 1%;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 2%;
}

label {
  display: block;
  margin-bottom: 3%;
}

nput[type="text"],
input[type="password"] {
  width: 100%;
  padding: 4%;
  margin-bottom: 6%;
  border: 1px solid #ccc;
  border-radius: 3%;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 4% 10%;
  border: none;
  border-radius: 65%;
  cursor: pointer;
}

.form-categoria button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 0%;
  cursor: pointer;
}


a {
  text-decoration: none;
  margin-right: 2%;
  color: #007bff;
}


div>div {
  margin-top: 1%;
}

.uno {
  display: flex;
  justify-content: space-evenly;
}

.dos {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {

  width: 100%;
  background-color: #f8f9fa;
  color: #f8f9fa;

}

.list-group {
  /* margin-bottom: 21%;*/
  margin-bottom: 2%;
}

.form-categoria {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 0;
  max-width: none;
  width: 100%;
}

.container-categoria-button {
  display: flex;
  justify-content: space-evenly;

}

footer {
  width: 100%;
  background-color: #f8f9fa;
  color: #f8f9fa;
}

.list-group {
  margin-bottom: 21%;
}

h2 {
  color: #333;
}

p {
  font-size: 100%;
  line-height: 1.6;
  color: #555;
}

ul {
  list-style-type: disc;
  margin-left: 2%;
  margin-right: 2%;
}

li {
  line-height: 1.6;
  color: #555;
}

.about {
  margin: 2%;
}

.carousel-inner { 
  height: 250px;
}

.carousel-item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 40rem;
  margin: 0 auto;
}

.logout{
  width: 200px;
}

.td-btn{ 
  display: flex;
}